        <!-- // Footer Start -->
        <table cellpadding="0" cellspacing="0" border="0" width="620" align="center">
            <tr>
                <td style="padding-left: 40px; padding-right: 40px; color: #294661; font-family:'Open Sans',sans-serif;">
                    <p style="font-family:'Open Sans',sans-serif; color: #294661; font-size: 14px; text-align: center; line-height: 25px;">
                        <i>In case of any queries, please feel free to reach out to us on</i> 
                        <a href="mailto:hello@obliquitygroup.com">hello@obliquitygroup.com</a>
                    </p>
                </td>
            </tr>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" width="620" align="center">
            <tr>
                <td style="padding-left: 40px; padding-right: 40px; color: #294661; font-family:'Open Sans',sans-serif;">

                </td>
            </tr>
        </table>


</td>
</tr>


<!-- Footer starts-->
</table>

    </table>
</td>

        

<!-- paste -->
<tr>
<td colspan="2" style="padding-top: 15px; padding-bottom: 15px; paddin-left: 10px; padding-right: 10px; background-color: #FDFDFD;" align="center" valign="middle">

<p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:10px;margin-bottom:5px">Copyright 2020, All Rights Reserved by Obliquity Group</p>
        <p style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px">

                         </p>
            </td>
        </tr>
       
      </table>

    </td>
  </tr>
</table>

</table>
</body>
</html>
<!-- // Footer End -->