        <!-- // Middle Content Start -->
        <tr>
            <td width="620" align="center" valign="middle" colspan="2" style="border: 1px solid #f0f0f0;padding: 15px 0px;">
            
              <!-- // Row Top Start -->
                          <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
                              <tr>
                                  <td style="padding-top:10px;padding-left: 40px; padding-right: 40px;color:#294661;font-family:'Open Sans',sans-serif;font-size:15px;font-weight:300;text-align:left;line-height: 1.4em;">
                                      <h2 style="margin:0;margin-bottom:20px;font-family:'Open Sans',sans-serif;font-weight:300;line-height:1.5;font-size:14px;color:#294661!important;">Hi {{user_first_name}},</h2>
  
                                      <p style="margin:0;margin-bottom:10px;font-family:'Open Sans',sans-serif;font-weight:300;line-height:1.5;font-size:14px;color:#294661!important;">Use the following link to reset your password
  
                                    <p style="margin:0;margin-bottom:20px;font-family:'Open Sans',sans-serif;font-weight:300;line-height:1.5;font-size:14px;color:#294661!important;">                
  {{activation_link}}
  </p>